.box-cart {
  overflow: hidden;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
}
.cart-detail::-webkit-scrollbar {
  display: none;
}
.carts {
  max-height: 600px;
  flex-direction: column;
  padding: 1rem 2rem;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.226);
  width: 50%;
  border-radius: 2rem;
}
.cart-header {
  display: flex;
}
.cart-detail {
  overflow: scroll;
  height: 300px;
}
.cart-items {
  justify-content: start;
  padding: 0.5rem;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}
.cart-items img {
  border-radius: 0.5rem;
  margin-right: 1rem;
}
.card-action button {
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem;
  box-shadow: 0 0 0.3rem black;
  transition: box-shadow .1s;
}
.card-action button:active {
    box-shadow: 0 0 0.1rem black;
  }
  
