.container {
  display: block;
}
.d-flex {
  display: flex;
}
.p-sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
.fluid {
  width: 100%;
}
.jc-center {
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px black solid;
  letter-spacing: 0.5px;
  box-shadow: 0 0 4px 0 black;
  background-color: rgb(248, 250, 251);
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 0.5rem;
}
.navbar a {
  position: relative;
  text-decoration: none;
  color: black;
  padding: 1rem;
}
.section nav {
  margin-right: 2rem;
}
a:after {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 0;
  left: 0;
  bottom: 4px;
  transition: width 0.4s ease-in-out;
}

a:hover:after, .active::after{
  width: 100%;
  box-shadow: 2px 2px 3px 2px white;
}


.nav {
  flex-direction: flex-start;
}

.info-user {
  flex-direction: flex-end;
  margin-left: 5rem;
  align-items: center;
}
